body {
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, .rst-content .toctree-wrapper p.caption, h3, h4, h5, h6, legend {
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

.code-block-caption .headerlink, .code-block-caption .headerlink:hover, .code-block-caption .headerlink:visited {
    color: white;
    text-decoration: none;
}

.command {
    text-decoration: bold;
    border: 1px solid #E6E6E6;
    background-color: white;
    border-radius: 1px;
    padding: 2px;
    font-family: monospace, serif;
    font-size: 0.8em
}

.rst-content .highlight {
    background-color: #f1c40f4f;
    box-shadow: none;
    font-weight: normal;
}

.old-conan-1x-warning {
    border: 2px solid #eb8484;
    background-color: #ffcaca;
    padding: 3px;
    margin-bottom: 5px
}

html[data-theme="dark"] .old-conan-1x-warning {
    border: 2px solid #eb8484;
    background-color: black;
    padding: 3px;
    margin-bottom: 5px
}

.conancenter-1-freeze-warning {
    border: 2px solid #c6ac58;
    background-color: #f7ecc6;
    padding: 3px;
}

html[data-theme="dark"] .conancenter-1-freeze-warning {
    border: 2px solid #c6ac58;
    background-color: black;
    padding: 3px;
}
